.captcha-container {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}

    .captcha-container td:last-child {
        width: 92px;
    }

    .captcha-container input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .captcha-container .image-captcha > img {
        height: 34px;
        width: 92px;
        border: 1px solid #ccc;
        border-left: 0;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }
