/*!
 * http://www.zkea.net/
 * Copyright 2016 ZKEASOFT
 * http://www.zkea.net/licenses
 */

zone {
    display: block;
}

.layoutList {
    margin: 0;
    padding: 0;
}

.radio label, .checkbox label {
    line-height: normal;
}

.layoutList > li {
    float: left;
    width: 200px;
    list-style: none;
    margin: 5px;
}

.designTool {
    margin-top: 10px !important;
}

.white {
    color: white;
}

.input-group {
    margin: 2px 0;
}

.navbar-fixed-top,
.navbar-fixed-bottom,
.navbar.navbar-inverse.navbar-fixed-top {
    z-index: 10;
}

.iconLeft {
    padding-right: 4px;
}

.btn.AddContainer {
    cursor: move;
}

.btn.AddRow,
.btn.AddCol,
.btn.AddZone {
    cursor: move;
}

.AddCol > select {
    color: black;
}

.design {
}

.navbar-inner {
    padding: 5px 0 5px;
}

    .navbar-inner .radio,
    .navbar-inner .checkbox {
        margin: 0;
    }

.design .additional.row {
    min-height: 144px;
    border: 1px solid #337ab7;
    background-color: white;
    margin: 10px -5px;
    cursor: move;
    list-style: none;
    padding: 15px;
}

    .design .colContent.row.muted,
    .design .additional.row.muted {
        border: 1px solid #ddd;
    }

.design-border .additional.row {
    margin-top: 1px;
}

.design-border .zone {
    border: 1px dotted #ec971f;
    margin: 1px;
    min-height: 135px;
}

.design .zone .form-control {
    border: none;
    width: 70%;
    margin: 4px auto;
    box-shadow: none;
    border: 1px solid #FFF;
    text-align: center;
    border-radius: 0;
    height: 80px;
    font-size: 16px;
    color: red;
    padding: 30px 5px;
}

    .design .zone .form-control:focus {
        border: 1px solid #faeae9;
        color: #000;
        background-color: #fff;
    }

.sorting {
    height: 120px;
    border: 1px solid #ddd;
    margin: 5px;
    background: #faeae9;
    list-style: none;
}

label.additional {
    display: block;
    margin-bottom: 0;
    max-width: none;
}

#containers {
    margin-top: 80px;
    min-height: 500px;
}

.container-fluid.design,
.container.design {
    border: 1px dotted #ddd;
    min-height: 166px;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
}

.custom-style.ui-sortable {
    min-height: 166px;
}

.container-fluid.design .additional,
.container.design .additional {
    position: relative;
    transition: width 500ms;
}

    .container-fluid.design .additional.zone,
    .container.design .additional.zone {
        position: static;
    }

.container-fluid.design .tools,
.container.design .tools {
    position: absolute;
    top: -25px;
    font-size: 16px;
    color: #969696;
    left: 0;
}

    .container-fluid.design .tools > .glyphicon,
    .container.design .tools > .glyphicon {
        padding: 4px;
        cursor: pointer;
    }

        .container-fluid.design .tools > .glyphicon.glyphicon-sort,
        .container.design .tools > .glyphicon.glyphicon-sort {
            cursor: s-resize;
        }

        .container-fluid.design .tools > .glyphicon:hover,
        .container.design .tools > .glyphicon:hover {
            color: #d9534f;
        }

.container-fluid.design .additional .tools,
.container.design .additional .tools {
    color: #5cb85c;
    left: auto;
    right: 12px;
    bottom: 12px;
    top: auto;
}

.container-fluid.design .additional.row > .tools,
.container.design .additional.row > .tools {
    color: #337ab7;
    right: 0;
    top: 0;
}

.container.design .glyphicon-resize-small {
    display: none;
}

.container-fluid.design .glyphicon-resize-horizontal {
    display: none;
}

.container-fluid.design .glyphicon-resize-small {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container-fluid.design .glyphicon-resize-small,
.container-fluid.design .glyphicon-resize-horizontal,
.container.design .glyphicon-resize-small,
.container.design .glyphicon-resize-horizontal {
    cursor: pointer;
}

.design .widget-design {
    width: 190px;
    position: relative;
}

    .design .widget-design .row > div::before,
    .layout.templates .widget-design .row > div::before,
    .design .additional.row > .additional::before {
        color: #e0e0e0;
        position: absolute;
        left: 15px;
        top: 10px;
        font-size: 20px;
        font-weight: bold;
    }

    .design .widget-design .row > div::before,
    .layout.templates .widget-design .row > div::before {
        left: 50%;
        top: 50%;
        margin: -14px auto auto -7px;
    }

    .design .widget-design .col-md-12::before,
    .layout.templates .widget-design .col-md-12::before,
    .design .additional.row .col-md-12::before {
        content: "12";
    }

    .design .widget-design .col-md-11::before,
    .layout.templates .widget-design .col-md-11::before,
    .design .additional.row .col-md-11::before {
        content: "11";
    }

    .design .widget-design .col-md-10::before,
    .layout.templates .widget-design .col-md-10::before,
    .design .additional.row .col-md-10::before {
        content: "10";
    }

    .design .widget-design .col-md-9::before,
    .layout.templates .widget-design .col-md-9::before,
    .design .additional.row .col-md-9::before {
        content: "9";
    }

    .design .widget-design .col-md-8::before,
    .layout.templates .widget-design .col-md-8::before,
    .design .additional.row .col-md-8::before {
        content: "8";
    }

    .design .widget-design .col-md-7::before,
    .layout.templates .widget-design .col-md-7::before,
    .design .additional.row .col-md-7::before {
        content: "7";
    }

    .design .widget-design .col-md-6::before,
    .layout.templates .widget-design .col-md-6::before,
    .design .additional.row .col-md-6::before {
        content: "6";
    }

    .design .widget-design .col-md-5::before,
    .layout.templates .widget-design .col-md-5::before,
    .design .additional.row .col-md-5::before {
        content: "5";
    }

    .design .widget-design .col-md-4::before,
    .layout.templates .widget-design .col-md-4::before,
    .design .additional.row .col-md-4::before {
        content: "4";
    }

    .design .widget-design .col-md-3::before,
    .layout.templates .widget-design .col-md-3::before,
    .design .additional.row .col-md-3::before {
        content: "3";
    }

    .design .widget-design .col-md-2::before,
    .layout.templates .widget-design .col-md-2::before,
    .design .additional.row .col-md-2::before {
        content: "2";
    }

    .design .widget-design .col-md-1::before,
    .layout.templates .widget-design .col-md-1::before,
    .design .additional.row .col-md-1::before {
        content: "1";
    }




.design .colContent {
    cursor: move;
    border: 1px dashed #5cb85c;
    margin: 10px -5px;
    min-height: 90px;
    background-color: #fff;
}

.pagePreview {
    min-height: 500px;
}



.zoneName {
    display: none;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    margin: 10px 0 20px;
}

    .zoneName a.add-widget {
        text-decoration: none;
    }

.design-border .zoneName {
    display: block;
}

    .design-border .zoneName a.label {
        margin-right: 10px;
    }

.dropInfo {
    background-color: #92daef !important;
}

.dropWarning {
    background-color: #46b8da !important;
}


.dropDanger {
    background-color: #d9534f !important;
}



.sort-handle {
    cursor: move;
}

.zoneToolbar {
    position: absolute;
    margin: 0 auto auto 0;
    z-index: 1;
    color: white;
    transition: all 300ms;
    opacity: 0;
    z-index: 10;
    border-radius: 3px;
}

.widget:hover .zoneToolbar {
    opacity: 1;
    font-size: 18px;
}

.zoneToolbar:hover {
    z-index: 12;
}

.zoneToolbar .tools {
    padding: 0 10px;
    vertical-align: baseline;
}

    .zoneToolbar .tools .transfer-container {
        display: none;
    }

    .zoneToolbar .tools .badge {
        margin-top: -3px;
    }

    .zoneToolbar .tools .glyphicon {
        position: relative;
    }

        .zoneToolbar .tools .glyphicon > span {
            position: absolute;
            display: none;
            top: -43px;
            white-space: nowrap;
            background: #000;
            padding: 3px 6px 8px;
            border-radius: 3px;
            transform: translateX(-50%);
            margin-left: 50%;
            color: #fff;
        }

            .zoneToolbar .tools .glyphicon > span::after {
                position: absolute;
                content: " ";
                border: 6px solid #000;
                border-bottom-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
                left: 50%;
                bottom: -12px;
                margin-left: -6px;
            }

        .zoneToolbar .tools .glyphicon:hover > span {
            display: block;
        }

.container-fluid.main .zoneToolbar .tools .transfer-container {
    display: inline-block;
}

.zoneToolbar .tools .toggle-widget-class.glyphicon-th-large {
    display: none;
}

.widget.full .zoneToolbar .tools .toggle-widget-class.glyphicon-th-large {
    display: inline-block;
}

.zoneToolbar .tools .toggle-widget-class.glyphicon-fullscreen {
    display: inline-block;
}

.widget.full .zoneToolbar .tools .toggle-widget-class.glyphicon-fullscreen {
    display: none;
}

.widget.align-center .zoneToolbar .tools .toggle-widget-class[data-class=align-center],
.widget.align-right .zoneToolbar .tools .toggle-widget-class[data-class=align-right],
.widget.border .zoneToolbar .tools .toggle-widget-class[data-class=border],
.widget.image-border .zoneToolbar .tools .toggle-widget-class[data-class=image-border],
.widget.box-shadow .zoneToolbar .tools .toggle-widget-class[data-class=box-shadow],
.widget.image-circle .zoneToolbar .tools .toggle-widget-class[data-class=image-circle] {
    color: #0f0;
}

.zoneToolbar.red {
    background-color: #c7302b;
    border: 1px solid #9a221f;
}

.zoneToolbar.blue {
    background-color: #428bca;
    border: 1px solid #25547d;
}

.zoneToolbar.lightBlue {
    background-color: #5bc0de;
    border: 1px solid #368da7;
}

.zoneToolbar.green {
    background-color: #5cb85c;
    border: 1px solid #3a863a;
}

.zoneToolbar.orange {
    background-color: #f0ad4e;
    border: 1px solid #db942f;
}

.hideToolBar .zoneToolbar {
    display: none;
}


.zoneToolbar a {
    color: white;
    text-decoration: none;
}

    .zoneToolbar a:hover,
    .zoneToolbar a:active,
    .zoneToolbar a:focus {
        color: red;
        text-decoration: none;
        outline: none;
    }

.zoneToolbar .glyphicon {
    font-size: 12px;
    font-size: 14px;
    margin: 0 2px;
}



#toolBar {
    border-radius: 0;
}


.AddCol.ui-draggable-dragging > select {
    display: none;
}

.row.active {
    background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%);
    background-image: -o-linear-gradient(top, #428bca 0%, #357ebd 100%);
    background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
    background-color: #357ebd;
}

.templates {
    position: fixed;
    background: #ddd;
    width: 0;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0,0.2);
}

    .templates.active {
        width: 223px;
    }

    .templates ul {
        list-style: none;
        margin: 0;
        padding: 0 10px 0 10px;
        height: 100%;
        overflow: auto;
    }

        .templates ul::-webkit-scrollbar {
            width: 7px;
        }

        .templates ul::-webkit-scrollbar-corner,
        .templates ul::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(100,100,100,0.4);
        }

        .templates ul::-webkit-scrollbar-thumb {
            border-radius: 1em;
            background-color: rgba(50,50,50,0.3);
        }

        .templates ul::-webkit-scrollbar-thumb {
            background: rgba(100,100,100,0.8);
        }

        .templates ul::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }

        .templates ul li {
            cursor: pointer;
            margin: 10px 3px;
        }

    .templates .tool-open {
        position: absolute;
        left: -22px;
        cursor: pointer;
        background: #ddd;
        top: 100px;
        padding: 8px 4px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .templates img.template {
        width: 190px;
        box-shadow: 0 0 5px rgba(0, 0, 0,0.2);
    }

        .templates img.template:hover {
            outline: rgba(0, 0, 0, 0.5) 1px solid;
            opacity: 0.5;
            transition: all 0.2s ease-in-out;
        }


    .templates .widget-design {
        cursor: move;
        position: relative;
    }

    .templates .delete-template {
        position: absolute;
        top: -8px;
        left: -8px;
    }

.ui-draggable-dragging .delete-template {
    display: none;
}

li.ui-sortable-helper {
    width: 200px;
}

    li.ui-sortable-helper.widget-design .row,
    .layout.templates .widget-design .row {
        background: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0,0.2);
    }

        li.ui-sortable-helper.widget-design .row .border-helper,
        .layout.templates .widget-design .row .border-helper {
            margin: 5px -10px;
            min-height: 80px;
            border: 1px solid #ddd;
        }

.widget.ui-sortable-helper {
    background: #fff;
}

.layout .ui-draggable-handle.ui-draggable-dragging {
    width: 200px;
    border: 1px solid #ddd;
}

.template-list input[type="radio"] {
    display: none;
}

    .template-list input[type="radio"] + label {
        font-weight: normal;
        cursor: pointer;
        text-align: center;
    }

        .template-list input[type="radio"] + label span {
            margin: 4px 0 0;
            display: block;
        }

    .template-list input[type="radio"]:checked + label {
        background: #357ebd;
        color: #fff;
    }


.ui-draggable-dragging {
    z-index: 11;
    word-break: keep-all;
    word-wrap: normal;
    white-space: nowrap;
    list-style: none;
}

.widget {
    transition: all .3s linear;
}

.WeiWindow.StyleEditor {
    left: -295px !important;
    top: 0 !important;
    width: 300px !important;
    height: 100% !important;
    z-index: 11 !important;
    background: #212636;
    border-color: #212636;
}

    .WeiWindow.StyleEditor.loaded {
        left: 0 !important;
        transition: left 300ms;
    }

    .WeiWindow.StyleEditor .TitleBarLeft {
        background-color: #212636;
        border-bottom: 1px solid #212636;
    }

    .WeiWindow.StyleEditor .TitleBarMid {
        background-color: #212636;
        border-bottom: 1px solid #212636;
        color: #B0B8C5;
    }

    .WeiWindow.StyleEditor .TitleBarRight {
        background-color: #212636;
        border-bottom: 1px solid #212636;
    }

.code {
    position: relative;
    margin: 0;
}

    .code::before {
        display: block;
        position: absolute;
        content: attr(code);
        padding: 2px 4px;
        font-size: 90%;
        color: #c7254e;
        background-color: #f9f2f4;
        border-radius: 4px;
        right: 5px;
        top: 5px;
    }

#mobile-frame .modal-dialog {
    width: 372px;
}

#mobile-frame .modal-content {
    background: none;
    box-shadow: none;
    border: none;
}

#mobile-frame .close {
    color: #fff;
    opacity: 1;
}

#mobile-frame .mobile {
    background: url(../images/mobile-frame.png) no-repeat center center;
    width: 342px;
    height: 667px;
    padding: 48px 6px;
}
    #mobile-frame .mobile.mini {
        background: url(../images/mobile-frame-small.png) no-repeat center center;
        width: 342px;
        height: 500px;
    }
    #mobile-frame .mobile iframe {
        width: 100%;
        height: 100%;
        border: 1px solid #ddd;
        background:#fff;
    }
