/*!
 * http://www.zkea.net/
 * Copyright 2016 ZKEASOFT
 * http://www.zkea.net/licenses
 */
html, body {
    min-height: 100%;
}

body {
    background: url(./Images/login-bg.jpg) center center no-repeat;
    background-size: cover;
}

.login-panel {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 800px;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -260px;
    overflow: hidden;
}

    .login-panel a {
        color: #889090;
    }

        .login-panel a:hover {
            color: #696f6f;
            text-decoration: none;
        }

    .login-panel .login-panel-form,
    .login-panel .login-panel-info {
        height: 520px;
    }

    .login-panel .login-panel-form {
        background: #fff;
        color: #889090;
        padding-top: 2rem;
    }

        .login-panel .login-panel-form .login-panel-heading {
            text-align: center;
            margin: 0 0 3rem;
        }

        .login-panel .login-panel-form .login-panel-body {
            margin: 0 2.5rem;
        }

            .login-panel .login-panel-form .login-panel-body > p:first-of-type {
                margin-bottom: 1rem;
            }

    .login-panel .login-panel-info {
        color: #fff;
    }

        .login-panel .login-panel-info a {
            color: #fff;
        }

        .login-panel .login-panel-info .app-name,
        .login-panel .login-panel-info .company-name {
            margin-left: 30%;
        }

        .login-panel .login-panel-info .app-name {
            margin-top: 45%;
            font-weight: bold;
            text-shadow: 2px 2px 1px #2f2f2f;
            margin-bottom: 0rem;
        }

            .login-panel .login-panel-info .app-name small {
                font-size: 1.5rem;
                color: #fff;
            }

        .login-panel .login-panel-info .company-name {
            color: #bfbfbf;
        }

        .login-panel .login-panel-info .close {
            position: absolute;
            right: 1rem;
            top: 0.5rem;
            opacity: 1;
        }

        .login-panel .login-panel-info .power-by {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            margin: 0;
        }

    .login-panel input,
    .login-panel .captcha-container .image-captcha > img {
        border-radius: 0;
    }

    .login-panel .form-control {
        background: #e8f0fe;
    }

    .login-panel .form-group {
        margin-bottom: 2rem;
        position: relative;
    }

        .login-panel .form-group .field-validation-error {
            position: absolute;
            top: 100%;
            margin-top: 10px;
            width: 100%;
            z-index: 1;
        }

    .login-panel .btn-login {
        display: block;
        width: 100%;
    }

    .login-panel .login-panel-footer {
        font-size: 14px;
    }

@media all and (max-width:991px) {
    .login-panel {
        width: 100%;
        max-width: 800px;
        position: static;
        margin: 2em auto;
    }
}
