@model MessageEntity
@{
    Style.Reqiured("dataTable").AtHead();
    Script.Reqiured("dataTable").AtFoot();

    Script.Reqiured("datepicker").AtFoot();
    Style.Reqiured("datepicker").AtHead();

}
<div class="grid-component">
    @Html.SearchTerms(Authorizer.Authorize(ZKEACMS.Message.PermissionKeys.ManageMessage))
    <div class="panel panel-default">
        <div class="panel-body">
            <grid delete-able="Authorizer.Authorize(ZKEACMS.Message.PermissionKeys.ManageMessage)" edit-able="Authorizer.Authorize(ZKEACMS.Message.PermissionKeys.ManageMessage)"></grid>
        </div>
    </div>    
</div>
