@model DateTime?
@{
    var descriptor = ViewData.ModelMetadata.GetViewDescriptor();
    string dateFormat = (descriptor as Easy.ViewPort.Descriptor.TextBoxDescriptor)?.DateFormat;
}

<div class="input-group">
    @Html.TextBox("", Model?.ToString(dateFormat ?? "yyyy/MM/dd"), descriptor?.ToHtmlProperties())
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
</div>