@using ZKEACMS.Product
@using Easy.ViewPort.jsTree
@using ZKEACMS.Product.Models

@model int?
@{
    var descriptor = ViewData.ModelMetadata.GetViewDescriptor();
    Script.Reqiured("jsTree").AtFoot();
    Script.Reqiured("dropdown-tree").AtFoot();
    Style.Reqiured("jsTree").AtHead();
    Style.Reqiured("dropdown-tree").AtHead();
    var categoryTree = Html.Tree<ProductCategory>().Source("GetProductCategoryTree", "ProductCategory", new { module = "admin" })
    .On(Events.Loaded, "dropdownTreeLoaded")
    .On(Events.ActiveNode, "dropdownTreeSelectted");

    string dropdownId = $"dropdown-tree-{Html.IdForModel()}";
}
<div class="dropdown-tree">
    <div class="dropdown">
        <div class="dropdown-toggle" type="button" id="@dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="form-control @(descriptor.IsRequired?"required":"")"></div>
            <span class="caret"></span>
        </div>
        <div class="dropdown-menu" aria-labelledby="@dropdownId">
            @categoryTree
        </div>
        @Html.TextBox("", Model, descriptor?.ToHtmlProperties())
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>