@model SectionGroup

<div class="section-group-default">
    @foreach (SectionContent content in Model.SectionContents.OrderBy(m => m.Order))
    {
        if (content.SectionContentType == (int)SectionContentBase.Types.CallToAction || content.SectionContentType == (int)SectionContentBase.Types.Image)
        {
            <p>
                @{
            Html.RenderContent(content);
                }
            </p>
        }
        else
        {
            Html.RenderContent(content);
        }
    }
</div>
