@model SectionGroup
@using (Style.AtHead())
{
    <style>
        .section-group-sale-price {
            border-top: 10px solid #dab4b4;
            background: #fafafa;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
        .section-group-sale-price h3 {
            background-color: #fff;
            margin: 0;
            padding: 20px 0;
        }
    </style>
}
<div class="section-group-sale-price text-center">
    @foreach (SectionContent content in Model.SectionContents.OrderBy(m => m.Order))
    {
        if (content.SectionContentType == (int)SectionContentBase.Types.CallToAction || content.SectionContentType == (int)SectionContentBase.Types.Image)
        {
            <p>
                @{
            Html.RenderContent(content);
                }
            </p>
        }
        else
        {
            Html.RenderContent(content);
        }
    }
</div>
