@model List<PageEntity>
<ol class="breadcrumb">
    <li><a href="~/">首页</a></li>
    @for (int i = 0; i < Model.Count; i++)
    {
        if (i == Model.Count - 1)
        {
            <li class="active">@Model[i].PageName</li>
        }
        else
        {
            <li><a href="@Url.Content(Model[i].Url)">@Model[i].PageName</a></li>
        }
    }
</ol>