@model ZKEACMS.FormGenerator.Models.Form
@{

}

<div ng-app="fild" ng-controller="formgenerator">
    <div class="row" ng-app="fieldSetting" ng-controller="setting" ng-init="saveUrl='@Url.Action("Create")'">
        @await Html.PartialAsync("Setting")
    </div>
</div>
@using (Script.AtFoot())
{
    <script type="text/javascript">
        angular.module("fild", ["fieldSetting"]).controller("formgenerator", function ($scope) {
            $scope.Fields = [];
        });
    </script>
}