@using ZKEACMS.FormGenerator.Models
@model Form
@{
    Style.Reqiured("dataTable").AtHead();
    Script.Reqiured("dataTable").AtFoot();

    Script.Reqiured("datepicker").AtFoot();
    Style.Reqiured("datepicker").AtHead();

}
<div class="grid-component">
    @Html.SearchTerms(Authorizer.Authorize(ZKEACMS.FormGenerator.PermissionKeys.ManageForm))
    <div class="panel panel-default">
        <div class="panel-body">
            <grid delete-able="Authorizer.Authorize(ZKEACMS.FormGenerator.PermissionKeys.ManageForm)" edit-able="Authorizer.Authorize(ZKEACMS.FormGenerator.PermissionKeys.ManageForm)"></grid>
        </div>
    </div>    
</div>