@using ZKEACMS.Shop.Models
@model Order
@{
    Style.Reqiured("dataTable").AtHead();
    Script.Reqiured("dataTable").AtFoot();

    Script.Reqiured("datepicker").AtFoot();
    Style.Reqiured("datepicker").AtHead();

}
<div class="grid-component">
    @Html.SearchTerms(false)
    <div class="panel panel-default">
        <div class="panel-body">
            <grid delete-able="Authorizer.Authorize(ZKEACMS.Shop.PermissionKeys.ManageOrder)"
                  edit-able="Authorizer.Authorize(ZKEACMS.Shop.PermissionKeys.ManageOrder)"></grid>
        </div>
    </div>
</div>