@using ZKEACMS.EventAction.Models
@model EventAction
@{
    Style.Reqiured("dataTable").AtHead();
    Script.Reqiured("dataTable").AtFoot();

    Script.Reqiured("datepicker").AtFoot();
    Style.Reqiured("datepicker").AtHead();

}

<div class="grid-component">
    @Html.SearchTerms(Authorizer.Authorize(ZKEACMS.EventAction.PermissionKeys.ManageEventAction))
    <div class="panel panel-default">
        <div class="panel-body">
            <grid delete-able="Authorizer.Authorize(ZKEACMS.EventAction.PermissionKeys.ManageEventAction)" edit-able="Authorizer.Authorize(ZKEACMS.EventAction.PermissionKeys.ManageEventAction)"></grid>
        </div>
    </div>    
</div>