@using ZKEACMS.Common.Models
@model CarouselEntity
@{
    Style.Reqiured("dataTable").AtHead();
    Script.Reqiured("dataTable").AtFoot();

    Script.Reqiured("datepicker").AtFoot();
    Style.Reqiured("datepicker").AtHead();
}

<div class="grid-component">
    @Html.SearchTerms(Authorizer.Authorize(PermissionKeys.ManageCarousel))
    <div class="panel panel-default">
        <div class="panel-body">
            <grid edit-able="Authorizer.Authorize(PermissionKeys.ManageCarousel)" delete-able="Authorizer.Authorize(PermissionKeys.ManageCarousel)"></grid>
        </div>
    </div>    
</div>