@{
    ViewBag.Title = "服务器错误";
    Layout = Layouts.NormalDefault;
}
<div class="page-header" style="text-align: center;">
    <br /><br />
    <h1 style="font-size: 6em" class="text-danger">500</h1>
</div>
<div style="text-align:center">
    <h2>服务器错误</h2>
    <br />
    <br />
    <p>服务器在响应您的请求时出错，您可以重新检查一下访问的URL地址是否正确，或者联系管理员。</p>
    <br />
    <p class="text-muted">或者您还可以访问其它页面：</p>
    <br />
    <p>
        <a href="~/" class="btn btn-info">访问首页</a>
        <a href="http://www.zkea.net/" target="_blank" class="btn btn-info">ZKEASOFT</a>
        <a href="http://www.zkea.net/zkeacms" target="_blank" class="btn btn-info">ZKEACMS</a>
    </p>
</div>

