@using ZKEACMS
@model ZKEACMS.Notification.ViewModels.ResetPasswordViewModel
@{
    Layout = ZKEACMS.Layouts.EmailLayout;
    Func<string, string> L = localize.Get;
}
@inject Easy.ILocalize localize

<div style="text-align:center">
    <h3>
        @L("Reset password")
    </h3>
    <p>
        @L("Click the link to reset your passwod")
    </p>
    @Html.EmailLinkButton(Model.Link, L("Reset password"), true)
</div>
