@using ZKEACMS
@model ZKEACMS.Notification.ViewModels.ResetPasswordViewModel
@{
    Layout = ZKEACMS.Layouts.EmailLayout;
    Func<string, string> L = localize.Get;
}
@inject Easy.ILocalize localize

<div>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
        @L("Reset password")
    </p>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
        @L("Click the link to reset your passwod")
    </p>
    @Html.EmailLinkButton(Model.Link, L("Reset password"))
</div>
