SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PagePath] [nvarchar](300) NULL,
	[UserId] [nvarchar](100) NULL,
	[Picture] [nvarchar](300) NULL,
	[UserName] [nvarchar](100) NULL,
	[CommentContent] [nvarchar](500) NULL,
	[Agrees] [int] NULL,
	[Disagrees] [int] NULL,
	[Title] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
	[Status] [int] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreatebyName] [nvarchar](100) NULL,
	[CreateDate] [datetime] NULL,
	[LastUpdateBy] [nvarchar](50) NULL,
	[LastUpdateByName] [nvarchar](100) NULL,
	[LastUpdateDate] [datetime] NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO


INSERT [dbo].[Language] ([LanKey], [CultureName], [LanValue], [Module], [LanType]) VALUES (N'Comments@Agrees', N'zh-CN', N'赞同数', N'Comments', N'EntityProperty')
INSERT [dbo].[Language] ([LanKey], [CultureName], [LanValue], [Module], [LanType]) VALUES (N'Comments@CommentContent', N'zh-CN', N'评论内容', N'Comments', N'EntityProperty')
INSERT [dbo].[Language] ([LanKey], [CultureName], [LanValue], [Module], [LanType]) VALUES (N'Comments@Disagrees', N'zh-CN', N'反对数', N'Comments', N'EntityProperty')
GO
INSERT [dbo].[Permission] ([PermissionKey], [RoleId], [Title], [Description], [Module]) VALUES (N'Comments_Manage', 1, N'管理评论', NULL, N'留言评论')
INSERT [dbo].[Permission] ([PermissionKey], [RoleId], [Title], [Description], [Module]) VALUES (N'Comments_View', 1, N'查看评论', NULL, N'留言评论')
