@using ZKEACMS.Article.Models
@model ArticleEntity
@{
    Style.Reqiured("dataTable").AtHead();
    Script.Reqiured("dataTable").AtFoot();

    Script.Reqiured("datepicker").AtFoot();
    Style.Reqiured("datepicker").AtHead();

}
<div id="toolBar">
    <a href="@Url.Action("Create")" class="btn btn-primary btn-xs">新建</a>
</div>
<grid></grid>
