@using ZKEACMS.Article.Models
@model ArticleEntity
@{
    Style.Reqiured("dataTable").AtHead();
    Script.Reqiured("dataTable").AtFoot();

    Script.Reqiured("datepicker").AtFoot();
    Style.Reqiured("datepicker").AtHead();

}
@if (Authorizer.Authorize(ZKEACMS.Article.PermissionKeys.ManageArticle))
{
    <div id="toolBar">
        <a href="@Url.Action("Create")" class="btn btn-primary btn-sm">@L("新建")</a>

    </div>
}
<div class="grid-component">
    @Html.Editor("", "Search-Terms")
    <grid delete-able="Authorizer.Authorize(ZKEACMS.Article.PermissionKeys.ManageArticle)" edit-able="Authorizer.Authorize(ZKEACMS.Article.PermissionKeys.ManageArticle)"></grid>
</div>
