@model SectionGroup
<ul class="section-content-listgroup list-group">
    @foreach (SectionContent content in Model.SectionContents.OrderBy(m => m.Order))
    {
        <li class="list-group-item">
            @{
                Html.RenderContent(content);
            }
        </li>
    }
</ul>
