<div class="form-group">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-checked="fieldInfo.IsRequired" ng-click="fieldInfo.IsRequired=!fieldInfo.IsRequired" />
            必填？
        </label>
    </div>
</div>
<div class="form-group">
    <label class="control-label">输入框长度</label>
    <div>
        <div class="btn-group">
            <a class="btn btn-default btn-sm" ng-class="{disabled:fieldInfo.Size==1}" ng-click="fieldInfo.Size=1">窄</a>
            <a class="btn btn-default btn-sm" ng-class="{disabled:fieldInfo.Size==2}" ng-click="fieldInfo.Size=2">中等</a>
            <a class="btn btn-default btn-sm" ng-class="{disabled:fieldInfo.Size==3}" ng-click="fieldInfo.Size=3">宽</a>
            <a class="btn btn-default btn-sm" ng-class="{disabled:fieldInfo.Size==4}" ng-click="fieldInfo.Size=4">占满</a>
        </div>
    </div>
</div>
<input type="hidden" class="form-control" name="regexPattern" id="regexPattern" ng-model="fieldInfo.RegexPattern" />
<input type="hidden" class="form-control" name="regexMessage" id="regexMessage" ng-model="fieldInfo.RegexMessage" />