@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("Partial.PageHeader")
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @await Html.PartialAsync("Partial.PageFooter")
</body>
</html>
