@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@{
    if (ViewBag.Title != null)
    {
        this.WorkContext().CurrentPage.Title = ViewBag.Title;
    }
}
<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("Partial.PageHeader")
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @await Html.PartialAsync("Partial.PageFooter")
</body>
</html>
