@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@using Microsoft.Extensions.Options
@using Easy.Options
@{
    if (ViewBag.Title != null)
    {
        this.WorkContext().CurrentPage.Title = ViewBag.Title;
    }
}
@inject IOptions<CultureOption> cultureOption
<!DOCTYPE html>
<html lang="@cultureOption.Value.Code">
<head>
    @await Html.PartialAsync("Partial.PageHeader")
</head>
<body>
    <div id="container" class="container">
        @RenderBody()
    </div>
    @await Html.PartialAsync("Partial.PageFooter")
</body>
</html>