@{
    Layout = null;
    Script.Reqiured("admin").AtHead();
    Style.Reqiured("bootStrap").AtHead();
    Style.Reqiured("admin").AtHead();
    if (ViewBag.Title != null)
    {
        this.WorkContext().CurrentPage.Title = ViewBag.Title;
    }
}

<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("Partial.PageHeader")
</head>
<body>
    <div style="padding:10px 10px @(ViewBag.ShowToolBar == null?"40px":"10px");">
        @RenderBody()
        @if (ViewBag.ShowToolBar == null)
        {
            <div class="popUpToolBar">
                <input id="confirm" type="button" value="@L("OK")" class="btn btn-primary btn-sm" />
                <input type="button" value="@L("Cancel")" class="btn btn-default btn-sm" />
            </div>
        }
    </div>
    @await Html.PartialAsync("Partial.PageFooter")
    <script type="text/javascript">
        var _innerPopSelectedOptions = null;
        $(".popUpToolBar .btn-default").click(function () {
            $(window.parent.document).find(".WeiWindow.BoxShadow:last").find(".CloseWindow").click();
        });

        function SetSelected(obj) {
            _innerPopSelectedOptions = obj;
        }

        function GetSelected() {
            return _innerPopSelectedOptions;
        }
    </script>
</body>
</html>
