@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
<!DOCTYPE html>
<html style="height:100%">
<head>
    @await Html.PartialAsync("Partial.PageHeader")
</head>
<body style="height:100%">
    <div style="height: 100%">
        @RenderBody()
    </div>
    @await Html.PartialAsync("Partial.PageFooter")
</body>
</html>
