.site-search .s-input-group {
  padding-right: 100px;
  max-width: 600px;
  margin: 0 auto;
}
.site-search .s-input-group .form-control {
  border-radius: 0;
  display: block;
  float: left;
  border-right: none;
}
.site-search .s-input-group .btn {
  display: block;
  float: left;
  margin-right: -100px;
  width: 100px;
  border-radius: 0;
}