@model ZKEACMS.FormGenerator.Models.Form
@{ 
    Style.Reqiured("datepicker").AtFoot();
    Style.Reqiured("form-widget").AtFoot();

    Script.Reqiured("datepicker").AtFoot();

    Script.Reqiured("validate").AtFoot();
    Script.Reqiured("form-widget").AtFoot();
}
<div class="form-widget">
    <form method="post" asp-action="Submit" asp-controller="FormData">
        <input type="hidden" name="next" value="@ViewContext.HttpContext.Request.GetAbsoluteUrl()" />
        <input type="hidden" name="FormId" value="@Model.ID" />
        @for (int i = 0; i < Model.FormFields.Count; i++)
        {
            @Html.Partial(string.Format("EditorTemplates/Form.{0}", Model.FormFields[i].Name), Model.FormFields[i])
        }
        <button class="btn btn-primary">提交</button>
    </form>
</div>