<label class="control-label" ng-if="field.DisplayName" ng-bind="field.DisplayName"></label>
<div class="input-group" ng-class="'size-' + field.Size" style="display:block;">
    <div class="row">
        <div class="col-md-4">
            <select class="form-control">
                <option>-- 选择省 --</option>
            </select>
        </div>
        <div class="col-md-4">
            <select class="form-control">
                <option>-- 选择市 --</option>
            </select>
        </div>
        <div class="col-md-4">
            <select class="form-control">
                <option>-- 选择区 --</option>
            </select>
        </div>
    </div>
</div>
<dl ng-if="field.Description">
    <dd ng-bind="field.Description"></dd>
</dl>
<button type="button" class="close" ng-click="removeField(field)" ng-if="Fields.length>1"><span aria-hidden="true">&times;</span></button>