@{
    Style.Reqiured("dataTable").AtHead();
    Script.Reqiured("dataTable").AtFoot();

    Script.Reqiured("datepicker").AtFoot();
    Style.Reqiured("datepicker").AtHead();
}
@model ApplicationSetting

<div class="grid-component">
    @Html.SearchTerms(Authorizer.Authorize(PermissionKeys.ManageApplicationSetting))
    <div class="panel panel-default">
        <div class="panel-body">
            <grid edit-able="Authorizer.Authorize(PermissionKeys.ManageApplicationSetting)" delete-able="Authorizer.Authorize(PermissionKeys.ManageApplicationSetting)"></grid>
        </div>
    </div>
</div>