@model ZKEACMS.Article.ViewModel.ArticleTypeWidgetViewModel

@using (Html.BeginPanel(Model.Widget.Title))
{
    <div class="article-category A">
        @if (Model.ArticleTypes != null)
        {
            foreach (var item in Model.ArticleTypes)
            {
                <a href="@Url.ArticleTypeUrl(item)" class="btn @(item.ID == Model.ArticleTypeID ? "btn-black" : "btn-link")">@item.Title</a>
            }
        }
    </div>
}