@model ZKEACMS.Article.ViewModel.ArticleTopWidgetViewModel
@using (Html.BeginPanel(Model.Widget.Title, Model.Widget.MoreLink.IsNullOrEmpty() ? string.Empty : Url.Content(Model.Widget.MoreLink), L("More...").Text))
{
    <div class="article-tops">
        <div class="list-group">
            @if (Model.Articles != null)
            {
                foreach (var item in Model.Articles)
                {
                    <a class="list-group-item" href="@Url.PostUrl(Model.Widget.DetailPageUrl, item)" target="_blank">
                        @item.Title
                    </a>
                }
            }
        </div>
    </div>
}
