@import "Library.less";

.productlist {
    .thumbnail {
        border-color: @color-border;
        border-radius: 0;
        box-shadow: none;
        padding: 1px;
    }

    .pagination {
        margin: @margin-base 0;
    }

    .price {
        strong {
            color: @color-danger;
        }
    }
}

.panel-body > .product-category {
    margin: -15px;
}
