@import "https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css";
/*!
 * http://www.zkea.net/
 * Copyright 2017 ZKEASOFT
 * http://www.zkea.net/licenses
 */
html {
  margin: 0;
  padding: 0;
}
body.front {
  margin: 0;
  padding: 0;
  font: 15px/1.5 Tahoma, Geneva, '\5fae\8f6f\96c5\9ed1', '\5B8B\4F53';
  color: #444;
  /*background: url("../Images/bg.gif");*/
  background: #EEF2F5;
}
body.front .main.container {
  background-color: white;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
body.front .main.container-fluid {
  background-color: white;
}
img {
  max-width: 100%;
}
a {
  color: #31B0D5;
}
a:hover {
  color: #2890AF;
}
a.btn,
.dropdown-menu a {
  text-decoration: none;
}
p {
  margin: 0 0 7.5px;
}
.preview-toolbar {
  position: fixed;
  left: 5px;
  top: 5px;
  z-index: 10;
}
.preview-toolbar .dropdown-menu {
  right: 0;
  left: auto;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: static;
}
.bs-callout {
  padding: 10px;
  margin: 0;
  border: 1px solid #31B0D5;
  border-top-width: 5px;
  border-radius: 5px;
}
.bs-callout .pull-left h4 {
  margin-top: 7.5px;
  color: #444;
}
.bs-callout .pull-right h5 {
  color: #9e9e9e;
}
.bs-callout-danger {
  border-top-color: #d9534f;
}
.bs-callout-danger .pull-left h4 {
  color: #d9534f;
}
.bs-callout-warning {
  border-top-color: #f0ad4e;
}
.bs-callout-warning .pull-left h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-top-color: #31B0D5;
}
.bs-callout-info .pull-left h4 {
  color: #31B0D5;
}
.bs-callout-success {
  border-top-color: #337AB7;
}
.bs-callout-success .pull-left h4 {
  color: #337AB7;
}
.panel-body .list-group-item {
  border-width: 1px 0;
}
.panel-body .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-width: 1px 0;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #2890AF;
  border-color: #31B0D5;
  background-image: -webkit-linear-gradient(top, #31B0D5 0%, #31B0D5 100%);
  background-image: -o-linear-gradient(top, #31B0D5 0%, #31B0D5 100%);
  background-image: linear-gradient(to bottom, #31B0D5 0%, #31B0D5 100%);
  background-repeat: repeat-x;
  background-color: #31B0D5;
}
.list-group {
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  #container {
    border: none;
    box-shadow: none;
  }
  #container .row.container {
    margin: 0 -15px;
    padding: 0;
  }
  .bs-callout {
    border-radius: 0;
  }
}
.space {
  padding: 5px 0;
  line-height: normal;
}
.preview-theme {
  position: fixed;
  right: 10px;
  top: 10px;
}
.preview-theme a {
  color: #fff;
}
.btn-default {
  background-image: -webkit-linear-gradient(top, #7ECAE0 0%, #31B0D5 100%);
  background-image: -o-linear-gradient(top, #7ECAE0 0%, #31B0D5 100%);
  background-image: linear-gradient(to bottom, #7ECAE0 0%, #31B0D5 100%);
  background-repeat: repeat-x;
  background-color: #7ECAE0;
  border-color: #2890AF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
}
.btn-default:hover,
.btn-default:focus {
  background-image: -webkit-linear-gradient(top, #31B0D5 0%, #2890AF 100%);
  background-image: -o-linear-gradient(top, #31B0D5 0%, #2890AF 100%);
  background-image: linear-gradient(to bottom, #31B0D5 0%, #2890AF 100%);
  background-repeat: repeat-x;
  background-color: #31B0D5;
  background-position: 0;
  color: #fff;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus,
.btn-default:active,
.btn-default.active {
  background-image: -webkit-linear-gradient(top, #31B0D5 0%, #2890AF 100%);
  background-image: -o-linear-gradient(top, #31B0D5 0%, #2890AF 100%);
  background-image: linear-gradient(to bottom, #31B0D5 0%, #2890AF 100%);
  background-repeat: repeat-x;
  background-color: #31B0D5;
  border-color: #2890AF;
  color: #fff;
}
.panel-default {
  border-color: #dedede;
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f6f6f6 0%, #EEF2F5 100%);
  background-image: -o-linear-gradient(top, #f6f6f6 0%, #EEF2F5 100%);
  background-image: linear-gradient(to bottom, #f6f6f6 0%, #EEF2F5 100%);
  background-repeat: repeat-x;
  background-color: #f6f6f6;
  border-color: #dedede;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #31B0D5;
  background-color: #ffffff;
  border: 1px solid #dedede;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #31B0D5;
  border-color: #31B0D5;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #31B0D5;
  border-color: #31B0D5;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #b4b4b4;
  background-color: #ffffff;
  border-color: #f2f2f2;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.widget {
  margin: 15px;
}
.widget.full {
  margin: 0;
}
.widget.container {
  margin-left: auto;
  margin-right: auto;
}
.widget.border {
  border: 1px solid #dedede;
  border-radius: 3px;
  padding: 5px;
}
.widget.box-shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.widget.footer {
  text-align: center;
  border-top: 1px solid #dedede;
  background: #31B0D5;
  color: #FFF;
  margin: 0;
}
.widget.footer p {
  margin: 0;
}
.widget.footer .html-widget {
  margin-bottom: 0;
  padding: 10px;
}
.widget.footer a {
  color: #fff;
}
.widget.footer a:hover {
  color: #2890AF;
}
.header {
  color: #31B0D5;
}
.header h1 {
  color: #31B0D5;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.image-border img {
  padding: 4px;
  border: 1px solid #dedede;
  border-radius: 4px;
}
.background-color {
  background: #eeeeee;
  padding: 5px;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.image-circle img {
  border-radius: 50%;
}
.video-icon a {
  position: relative;
}
.video-icon a::before {
  content: url(../images/video-play.png);
  opacity: .5;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
  transition: opacity linear 0.3s;
}
.video-icon a:hover::before {
  opacity: 1;
}
.navigation {
  margin: -15px;
}
.navigation .nav.nav-mobile {
  margin: 0 auto;
  float: left;
}
.navigation .nav.nav-mobile > li > a {
  padding: 15px 10px;
}
.navigation .navbar {
  margin-bottom: 0;
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.navigation .caret.right {
  border-left: 4px solid;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  position: absolute;
  right: 3px;
  top: 50%;
  margin-top: -4px;
}
.navigation .navbar-default {
  background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #fff 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  background-repeat: repeat-x;
  background-color: #fff;
  box-shadow: none;
  border-color: #dedede;
  min-height: 50px;
}
.navigation .navbar-default .hoveropen > .dropdown-menu {
  left: 100%;
  top: 0;
  margin: 0;
}
.navigation .navbar-default .logo {
  height: 20px;
  width: auto;
}
.navigation .navbar-default .navbar-nav > li > a {
  text-decoration: none;
  color: #444;
}
.navigation .navbar-default .navbar-nav > li > a:hover,
.navigation .navbar-default .navbar-nav > li > a:focus {
  color: #000;
  background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #fff 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  background-repeat: repeat-x;
  background-color: #fff;
}
.navigation .navbar-default .navbar-nav > .open > a {
  background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #fff 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  background-repeat: repeat-x;
  background-color: #fff;
  /*box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);*/
  box-shadow: none;
  color: #444;
}
.navigation .navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #31B0d5 0%, #31B0d5 100%);
  background-image: -o-linear-gradient(top, #31B0d5 0%, #31B0d5 100%);
  background-image: linear-gradient(to bottom, #31B0d5 0%, #31B0d5 100%);
  background-repeat: repeat-x;
  background-color: #31B0d5;
  /*box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);*/
  box-shadow: none;
  color: #000;
}
.navigation .navbar-default .navbar-nav > .active > a:hover,
.navigation .navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  background-image: -webkit-linear-gradient(top, #31B0d5 0%, #31B0d5 100%);
  background-image: -o-linear-gradient(top, #31B0d5 0%, #31B0d5 100%);
  background-image: linear-gradient(to bottom, #31B0d5 0%, #31B0d5 100%);
  background-repeat: repeat-x;
  background-color: #31B0d5;
}
.navigation .navbar-default .dropdown-menu > li > a {
  background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #fff 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  background-repeat: repeat-x;
  background-color: #fff;
}
.navigation .navbar-default .dropdown-menu > li > a:hover,
.navigation .navbar-default .dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #fff 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  background-repeat: repeat-x;
  background-color: #fff;
}
.navigation .navbar-default .dropdown-menu > .active > a,
.navigation .navbar-default .dropdown-menu > .active > a:hover,
.navigation .navbar-default .dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #31B0d5 0%, #31B0d5 100%);
  background-image: -o-linear-gradient(top, #31B0d5 0%, #31B0d5 100%);
  background-image: linear-gradient(to bottom, #31B0d5 0%, #31B0d5 100%);
  background-repeat: repeat-x;
  background-color: #31B0d5;
}
@media (max-width: 767px) {
  .navigation {
    padding: 0;
  }
  .navigation .navbar.navbar-default {
    background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #fff 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
    background-repeat: repeat-x;
    background-color: #fff;
    box-shadow: none;
  }
  .navigation .navbar.navbar-default .hoveropen > .dropdown-menu {
    display: block;
    margin-left: 15px;
  }
  .navigation .navbar.navbar-default .dropdown-menu > li > a:hover,
  .navigation .navbar.navbar-default .dropdown-menu > li > a:focus {
    background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #fff 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
    background-repeat: repeat-x;
    background-color: #fff;
  }
  .navigation .navbar.navbar-default .dropdown-menu > .active > a,
  .navigation .navbar.navbar-default .dropdown-menu > .active > a:hover,
  .navigation .navbar.navbar-default .dropdown-menu > .active > a:focus {
    background-image: -webkit-linear-gradient(top, #31B0d5 0%, #31B0d5 100%);
    background-image: -o-linear-gradient(top, #31B0d5 0%, #31B0d5 100%);
    background-image: linear-gradient(to bottom, #31B0d5 0%, #31B0d5 100%);
    background-repeat: repeat-x;
    background-color: #31B0d5;
  }
  .navigation .navbar.navbar-default .navbar-nav > .open > a {
    background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #fff 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
    background-repeat: repeat-x;
    background-color: #fff;
    /*box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);*/
    box-shadow: none;
    color: #444;
  }
  .navigation .navbar.navbar-default .navbar-nav > .active > a {
    background-image: -webkit-linear-gradient(top, #31B0d5 0%, #31B0d5 100%);
    background-image: -o-linear-gradient(top, #31B0d5 0%, #31B0d5 100%);
    background-image: linear-gradient(to bottom, #31B0d5 0%, #31B0d5 100%);
    background-repeat: repeat-x;
    background-color: #31B0d5;
    /*box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);*/
    box-shadow: none;
    color: #000;
  }
  .navigation .navbar.navbar-default .navbar-nav > .active > a:hover,
  .navigation .navbar.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background-image: -webkit-linear-gradient(top, #31B0d5 0%, #31B0d5 100%);
    background-image: -o-linear-gradient(top, #31B0d5 0%, #31B0d5 100%);
    background-image: linear-gradient(to bottom, #31B0d5 0%, #31B0d5 100%);
    background-repeat: repeat-x;
    background-color: #31B0d5;
  }
}
.section > h4 {
  padding: 0 5px 5px;
  color: #31B0D5;
  border-bottom: 2px solid #31B0D5;
  text-align: left;
}
.section table tr {
  vertical-align: top;
}
.section table tr td {
  padding: 5px;
}
.border .section .section-content-listgroup {
  margin: -10px -5px -5px;
}
.border .section .section-content-listgroup .list-group-item {
  border-left: none;
  border-right: none;
}
.border .section .section-content-listgroup .list-group-item:first-child {
  border-top: none;
}
.border .section .section-content-listgroup .list-group-item:last-child {
  border-bottom: none;
}
.section .section-content-listgroup .list-group-item > p {
  margin: 0;
}
.section .section-group-listView {
  margin: 15px 0;
}
.section .section-group-listView h4 {
  color: #000;
}
.section .section-group-listView img {
  display: block;
}
.article-list .media .media-left {
  width: 230px;
  max-width: 230px;
}
.article-list .media-body {
  width: auto;
}
.panel-body > .article-category {
  margin: -15px;
}
.owl-carousel .owl-prev:hover,
.owl-carousel .owl-carousel .owl-next:hover {
  background-color: #31B0D5;
}
.owl-carousel .progressBar > .bar {
  background-color: #31B0D5;
}
.owl-carousel .carousel-content {
  background: rgba(64, 64, 64, 0.5);
}
.productlist .thumbnail {
  border-color: #dedede;
}
.productlist .pagination {
  margin: 15px 0;
}
.productlist .price {
  line-height: 30px;
}
.productlist .price strong {
  color: #d9534f;
}
.panel-body > .product-category {
  margin: -15px;
}