.editor-main {
    padding-top: 10px;
    padding-bottom: 10px;
}
#output {
    margin-bottom: 0;
    border: none;
}
.panel-body > div > h3:first-child {
    margin-top: 0;
}

.panel-heading a {
    color: black;
    display: block;
    text-decoration: none;
}

.style-preview {
    width: 47%;
    position: fixed;
    left: 50%;
    height: 100%;
}

.input-group {
    margin-bottom: 10px;
}
.glyphicon-search {
    cursor: pointer;
}
.panel-heading {
    padding: 7px 15px;
}