html::-webkit-scrollbar {
    width: 7px;
}

html::-webkit-scrollbar-corner,
html::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100,100,100,0.4);
}

html::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: rgba(50,50,50,0.3);
}

html::-webkit-scrollbar-thumb {
    background: rgba(100,100,100,0.8);
}

html::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.editor-main {
    padding-top: 10px;
    padding-bottom: 10px;
}

#output {
    margin-bottom: 0;
    border: none;
    display:none;
}

.panel-body > div > h3:first-child {
    margin-top: 0;
}

.panel-heading a {
    color: black;
    display: block;
    text-decoration: none;
}

.style-preview {
    width: 47%;
    position: fixed;
    left: 50%;
    height: 100%;
}

.input-group {
    margin-bottom: 5px;
}

.glyphicon-search {
    cursor: pointer;
}

.panel-heading {
    padding: 7px 15px;
}
.examples {
    padding: 0 10px;
}
legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: inherit;
    color: #000;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
fieldset{
    margin-bottom:10px;
}