/*!
 * http://www.zkea.net/
 * Copyright 2016 ZKEASOFT
 * http://www.zkea.net/licenses
 */
.video {
    position: relative;
    display:inline-block;
}

    .video .video-play {
        position: absolute;
        background: url("Images/play-video.png") 50% 52% no-repeat;
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: .6;
        transition: all linear .3s;
    }

        .video .video-play:hover {
            opacity: 1;
            background-position: 50% 50%;
        }

.pop-video {
    height: 100%;
    overflow: hidden;
}

    .pop-video video,
    .pop-video embed,
    .pop-video iframe {
        display: block;
        margin: 0 auto;
        padding: 0;
        border: none;
        height: 100% !important;
        width: 100% !important;
        max-width: 100%;
        max-height: 100%;
    }
.border-group div[class^="col-"] > div {
    border: 1px solid rgb(243, 243, 243);
}
.well-group div[class^="col-"] > div {
    border: 1px solid rgb(243, 243, 243);
    background-color: rgb(250, 250, 250);
}