@model IEnumerable<ZKEACMS.Product.Models.ProductCategoryTag>
@{
    Layout = null;
}
<div class="panel panel-default">
    <div class="panel-heading">
        标签
    </div>
    <div class="panel-body">
        <ul class="fullRowList widgets">
            <li>
                <p>
                    <a href="javascript:"><i class="glyphicon glyphicon-plus"></i></a>
                    <a href="javascript:"><i class="glyphicon glyphicon-trash"></i></a>
                    颜色
                </p>
                <ul>
                    <li>
                        <a href="javascript:"><i class="glyphicon glyphicon-trash"></i></a>
                        白色
                    </li>
                    <li>
                        <a href="javascript:"><i class="glyphicon glyphicon-trash"></i></a>
                        黑色
                    </li>
                    <li>
                        <a href="javascript:"><i class="glyphicon glyphicon-trash"></i></a>
                        绿色
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="fullRowList">
            <li>
                <p>颜色</p>
                <ul>
                    <li>白色</li>
                    <li>黑色</li>
                    <li>绿色</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="panel-footer">
        <a href="javascript:" class="btn-add">添加</a>
    </div>
</div>