@model IEnumerable<ZKEACMS.Product.Models.ProductCategoryTag>
@{
    Layout = null;
}
<div class="panel panel-default">
    <div class="panel-heading">
        标签
    </div>
    <div class="panel-body" id="category-tags">
        <ul class="fullRowList tags">
            @foreach (var item in Model.Where(m => m.ParentId == 0))
            {
                <li>
                    <div>
                        <a href="javascript:"><i class="glyphicon glyphicon-plus"></i></a>
                        <a href="javascript:"><i class="glyphicon glyphicon-trash"></i></a>
                        <input data-id="@item.ID" type="text" value="颜色" />
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:"><i class="glyphicon glyphicon-plus"></i></a>
                            <a href="javascript:"><i class="glyphicon glyphicon-trash"></i></a>
                            <input type="text" value="颜色" />
                        </li>
                    </ul>
                </li>
            }
            
        </ul>
    </div>
    <div class="panel-footer">
        <a href="javascript:" class="btn-add-tag" data-category="@ViewBag.ProductCategoryId">添加</a>
    </div>
</div>