@{
    Layout = Layouts.NormalDefault;
    Style.Reqiured("shop").AtHead();
}
<div class="basket">

    <div class="basket-header clearfix">
        <div class="pull-left">
            <h4>购物车</h4>
        </div>   
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="basket-body">
        <ul class="container-fluid">
            <li class="clearfix row">
                <div class="col-xs-4">
                    <img src="https://media.kingston.com/hyperx/product/hyperx_headset_revolver_bk_1-lg.jpg" />
                    <div class="text-center">
                        <a href="javascript:" class="glyphicon glyphicon-minus-sign"></a>
                        <span>1</span>
                        <a href="javascript:" class="glyphicon glyphicon-plus-sign"></a>
                    </div>
                </div>
                <div class="col-xs-8">
                    <h5>HyperX Cloud Revolver</h5>
                    <div class="description clearfix">
                        <div class="pull-left">
                            ￥300.00 X 1
                        </div>
                        <div class="pull-right">
                            <a href="javascript:" class="glyphicon glyphicon-trash"></a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="clearfix row">
                <div class="col-xs-4">
                    <img src="https://media.kingston.com/hyperx/product/hyperx_headset_revolver_bk_1-lg.jpg" />
                    <div class="text-center">
                        <a href="javascript:" class="glyphicon glyphicon-minus-sign"></a>
                        <span>1</span>
                        <a href="javascript:" class="glyphicon glyphicon-plus-sign"></a>
                    </div>
                </div>
                <div class="col-xs-8">
                    <h5>HyperX Cloud Revolver</h5>
                    <div class="description clearfix">
                        <div class="pull-left">
                            ￥300.00 X 1
                        </div>
                        <div class="pull-right">
                            <a href="javascript:" class="glyphicon glyphicon-trash"></a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="clearfix row">
                <div class="col-xs-4">
                    <img src="https://media.kingston.com/hyperx/product/hyperx_headset_revolver_bk_1-lg.jpg" />
                    <div class="text-center">
                        <a href="javascript:" class="glyphicon glyphicon-minus-sign"></a>
                        <span>1</span>
                        <a href="javascript:" class="glyphicon glyphicon-plus-sign"></a>
                    </div>
                </div>
                <div class="col-xs-8">
                    <h5>HyperX Cloud Revolver</h5>
                    <div class="description clearfix">
                        <div class="pull-left">
                            ￥300.00 X 1
                        </div>
                        <div class="pull-right">
                            <a href="javascript:" class="glyphicon glyphicon-trash"></a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="clearfix row">
                <div class="col-xs-4">
                    <img src="https://media.kingston.com/hyperx/product/hyperx_headset_revolver_bk_1-lg.jpg" />
                    <div class="text-center">
                        <a href="javascript:" class="glyphicon glyphicon-minus-sign"></a>
                        <span>1</span>
                        <a href="javascript:" class="glyphicon glyphicon-plus-sign"></a>
                    </div>
                </div>
                <div class="col-xs-8">
                    <h5>HyperX Cloud Revolver</h5>
                    <div class="description clearfix">
                        <div class="pull-left">
                            ￥300.00 X 1
                        </div>
                        <div class="pull-right">
                            <a href="javascript:" class="glyphicon glyphicon-trash"></a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="clearfix row">
                <div class="col-xs-4">
                    <img src="https://media.kingston.com/hyperx/product/hyperx_headset_revolver_bk_1-lg.jpg" />
                    <div class="text-center">
                        <a href="javascript:" class="glyphicon glyphicon-minus-sign"></a>
                        <span>1</span>
                        <a href="javascript:" class="glyphicon glyphicon-plus-sign"></a>
                    </div>
                </div>
                <div class="col-xs-8">
                    <h5>HyperX Cloud Revolver</h5>
                    <div class="description clearfix">
                        <div class="pull-left">
                            ￥300.00 X 1
                        </div>
                        <div class="pull-right">
                            <a href="javascript:" class="glyphicon glyphicon-trash"></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>    
    <div class="basket-footer">
        <a class="btn btn-primary">立即购买</a>
    </div>
</div>
