@{
    Style.Reqiured("dataTable").AtHead();
    Script.Reqiured("dataTable").AtFoot();

    Script.Reqiured("datepicker").AtFoot();
    Style.Reqiured("datepicker").AtHead();
}
@model Easy.Modules.MutiLanguage.LanguageEntity

<div class="grid-component">
    @Html.SearchTerms(Authorizer.Authorize(PermissionKeys.ManageLanguage))
    <div class="panel panel-default">
        <div class="panel-body">
            <grid edit-able="Authorizer.Authorize(PermissionKeys.ManageLanguage)" order-asc="LanKey" delete-able="false"></grid>
        </div>
    </div>
</div>