.form-widget .form-group.size-1 {
    width: 25%;
}

.form-widget .form-group.size-2 {
    width: 50%;
}

.form-widget .form-group.size-3 {
    width: 75%;
}

.form-widget .form-group.size-4 {
}

.form-widget .field-validation-valid {
    display: none;
}

.form-widget .control-label span.required {
    font-weight: normal;
    color: red;
}

.form-widget .form-group .checkbox:first-child,
.form-widget .form-group .radio:first-child {
    margin-top: 0;
}

.form-widget .form-group .checkbox:last-child,
.form-widget .form-group .radio:last-child {
    margin-bottom: 0;
}
.form-widget hr{
    margin-top:0;
}