@using ZKEACMS.EventAction.Models
@model ActionBody
@{
    Style.Reqiured("dataTable").AtHead();
    Script.Reqiured("dataTable").AtFoot();

    Script.Reqiured("datepicker").AtFoot();
    Style.Reqiured("datepicker").AtHead();

}

<div class="grid-component">
    @Html.SearchTerms(Authorizer.Authorize(ZKEACMS.EventAction.PermissionKeys.ManageNotificationContent))
    <div class="panel panel-default">
        <div class="panel-body">
            <grid delete-able="Authorizer.Authorize(ZKEACMS.EventAction.PermissionKeys.ManageNotificationContent)" edit-able="Authorizer.Authorize(ZKEACMS.EventAction.PermissionKeys.ManageNotificationContent)"></grid>
        </div>
    </div>    
</div>