@{
    ViewBag.Title = ZKEACMS.Version.CurrentVersion + " " + ZKEACMS.Version.Rank;
    Layout = Layouts.NormalDefault;
    Style.Reqiured("Customer").AtHead();
    Script.Reqiured("validate").AtFoot();
}

@using (Html.BeginForm())
{

    <div class="login-panel sign-up-success">
        <div class="login-panel-heading">
            <p>
                <a href="~/" target="_blank">
                    <img class="logo" src="~/images/logo_min.png" alt="ZKEACMS" />
                </a>
            </p>
        </div>
        <div class="login-panel-body">
            <div class="info-bar">
                <p>
                    @L("注册结果")
                </p>
                <img src="~/css/Images/picker_account_msa.svg" />
            </div>

            <br />
            <h4>
                @L("您的账号已经创建成功")
            </h4>
           
            <br />
            <div class="form-input">
                <a href="@Url.Action("SignIn", new { ReturnUrl =ViewContext.HttpContext.Request.Query["ReturnUrl"] })" class="btn-login">@L("立即登录")</a>
            </div>
        </div>        
    </div>
}