<label class="control-label" ng-if="field.DisplayName" ng-bind="field.DisplayName"></label>
<span class="text-muted" ng-if="field.Description">
    <span ng-bind="field.Description"></span>
</span>
<select class="form-control" ng-class="'size-' + field.Size">
    <option>@L("-- Select --")</option>
    <option ng-repeat="op in field.FieldOptions" value="op.Value" ng-bind="op.DisplayText"></option>
</select>
<button type="button" class="close" ng-click="removeField(field)" ng-if="Fields.length>1"><span aria-hidden="true">&times;</span></button>