@using Easy.Modules.User.Models
@model UserEntity
@{ 
    Style.Reqiured("dataTable").AtHead();
    Script.Reqiured("dataTable").AtFoot();
}

<div id="toolBar">
    <a href="@Url.Action("Create")" class="btn btn-primary btn-xs">新建</a>
</div>
<grid></grid>