@using ZKEACMS.Redirection.Models
@model UrlRedirect
@{
    Style.Reqiured("dataTable").AtHead();
    Script.Reqiured("dataTable").AtFoot();

    Script.Reqiured("datepicker").AtFoot();
    Style.Reqiured("datepicker").AtHead();

}

<div class="grid-component">
    @Html.SearchTerms(Authorizer.Authorize(ZKEACMS.Redirection.PermissionKeys.ManageUrlRedirect))
    <div class="panel panel-default">
        <div class="panel-body">
            <grid delete-able="Authorizer.Authorize(ZKEACMS.Redirection.PermissionKeys.ManageUrlRedirect)" edit-able="Authorizer.Authorize(ZKEACMS.Redirection.PermissionKeys.ManageUrlRedirect)"></grid>
        </div>
    </div>    
</div>