.product-ecommerce {
  max-width: 860px;
  margin: 1rem auto;
}
.product-ecommerce h1 {
  margin-top: 0;
}
.product-ecommerce label {
  font-weight: normal;
  margin-bottom: 0;
}
.product-ecommerce .thumbnail {
  margin: 0 0 0 auto;
  /*max-width: 80%;*/
  box-shadow: none;
  border-radius: 0;
}
.product-ecommerce .thumbnail .stage {
  width: 100%;
}
.product-ecommerce .thumbnails {
  list-style: none;
  padding: 0;
  margin: 1rem 0 1rem 0;
  text-align: center;
}
.product-ecommerce .thumbnails > li {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 1px;
}
.product-ecommerce .thumbnails > li.active {
  border-color: #353535;
}
.product-ecommerce .thumbnails > li:hover {
  border-color: #e4393c;
}
.product-ecommerce .thumbnails > li img {
  width: 54px;
}
.product-ecommerce .price {
  font-size: 2rem;
  color: #e4393c;
}
.product-ecommerce .tag-select {
  margin-bottom: 7.5px;
}
.product-ecommerce .tag-select input[type=radio] {
  display: none;
}
.product-ecommerce .tag-select input[type=radio]:checked + label {
  color: #fff;
  background: #585858;
  border: 1px solid #585858;
  cursor: default;
}
.product-ecommerce .tag-select label {
  display: inline-block;
  cursor: pointer;
  margin: 0 .25em .25em 0;
  padding: .25em .75em;
  border: 1px solid #585858;
  background: #dedede;
  font-weight: normal;
}
.product-ecommerce .tag-select label:hover {
  color: #ca2026;
  background: #efefef;
  border: 1px solid #ca2026;
}
.product-ecommerce .quantity-set {
  margin: 15px 0;
}
.product-ecommerce .quantity-set label {
  margin-right: 10px;
}
.product-ecommerce .quantity-set a {
  color: #337ab7;
  text-decoration: none;
  font-size: 16px;
}
.product-ecommerce .quantity-set a:hover {
  color: #2f6fa7;
}
.product-ecommerce .quantity-set a:active {
  color: #2b6598;
}
.product-ecommerce .quantity-set .quantity {
  margin: 0 5px;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInByb2R1Y3QtZWNvbW1lcmNlLmxlc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDSSxnQkFBQTtFQUNBLGlCQUFBOztBQUZKLGtCQUlJO0VBQ0ksYUFBQTs7QUFMUixrQkFRSTtFQUNJLG1CQUFBO0VBQ0EsZ0JBQUE7O0FBVlIsa0JBYUk7RUFDSSxrQkFBQTs7RUFFQSxnQkFBQTtFQUNBLGdCQUFBOztBQWpCUixrQkFhSSxXQU1JO0VBQ0ksV0FBQTs7QUFwQlosa0JBd0JJO0VBQ0ksZ0JBQUE7RUFDQSxVQUFBO0VBQ0EscUJBQUE7RUFDQSxrQkFBQTs7QUE1QlIsa0JBd0JJLFlBTUk7RUFDSSxxQkFBQTtFQUNBLHNCQUFBO0VBQ0EsWUFBQTs7QUFFQSxrQkFYUixZQU1JLEtBS0s7RUFDRyxxQkFBQTs7QUFHSixrQkFmUixZQU1JLEtBU0s7RUFDRyxxQkFBQTs7QUF4Q2hCLGtCQXdCSSxZQU1JLEtBYUk7RUFDSSxXQUFBOztBQTVDaEIsa0JBaURJO0VBQ0ksZUFBQTtFQUNBLGNBQUE7O0FBbkRSLGtCQXNESTtFQTRCSSxvQkFBQTs7QUFsRlIsa0JBc0RJLFlBQ0ksTUFBSztFQUNELGFBQUE7O0FBRUEsa0JBSlIsWUFDSSxNQUFLLFlBR0EsUUFBUztFQUNOLFdBQUE7RUFDQSxtQkFBQTtFQUNBLHlCQUFBO0VBQ0EsZUFBQTs7QUE5RGhCLGtCQXNESSxZQVlJO0VBQ0kscUJBQUE7RUFDQSxlQUFBO0VBQ0EsdUJBQUE7RUFDQSxvQkFBQTtFQUNBLHlCQUFBO0VBQ0EsbUJBQUE7RUFDQSxtQkFBQTs7QUFFQSxrQkFyQlIsWUFZSSxNQVNLO0VBQ0csY0FBQTtFQUNBLG1CQUFBO0VBQ0EseUJBQUE7O0FBOUVoQixrQkFxRkk7RUFDSSxjQUFBOztBQXRGUixrQkFxRkksY0FHSTtFQUNJLGtCQUFBOztBQXpGWixrQkFxRkksY0FPSTtFQUNJLGNBQUE7RUFDQSxxQkFBQTtFQUNBLGVBQUE7O0FBRUEsa0JBWlIsY0FPSSxFQUtLO0VBQ0csY0FBQTs7QUFHSixrQkFoQlIsY0FPSSxFQVNLO0VBQ0csY0FBQTs7QUF0R2hCLGtCQXFGSSxjQXFCSTtFQUNJLGFBQUEiLCJmaWxlIjoidW5kZWZpbmVkIn0= */