.product-ecommerce {
  max-width: 860px;
  margin: 1rem auto 1rem 0;
}
.product-ecommerce h1 {
  margin-top: 0;
}
.product-ecommerce label {
  font-weight: normal;
  margin-bottom: 0;
}
.product-ecommerce .thumbnail {
  margin: 0 0 0 auto;
  /*max-width: 80%;*/
  box-shadow: none;
  border-radius: 0;
}
.product-ecommerce .thumbnail .stage {
  width: 100%;
}
.product-ecommerce .thumbnails {
  list-style: none;
  padding: 0;
  margin: 1rem 0 1rem 0;
  text-align: center;
}
.product-ecommerce .thumbnails > li {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 1px;
}
.product-ecommerce .thumbnails > li.active {
  border-color: #353535;
}
.product-ecommerce .thumbnails > li:hover {
  border-color: #e4393c;
}
.product-ecommerce .thumbnails > li img {
  width: 54px;
}
.product-ecommerce .price {
  font-size: 2rem;
  color: #e4393c;
}
.product-ecommerce .tag-select {
  margin-bottom: 7.5px;
}
.product-ecommerce .tag-select input[type=radio] {
  display: none;
}
.product-ecommerce .tag-select input[type=radio]:checked + label {
  color: #fff;
  background: #585858;
  border: 1px solid #585858;
  cursor: default;
}
.product-ecommerce .tag-select label {
  display: inline-block;
  cursor: pointer;
  margin: 0 0.25em 0.25em 0;
  padding: 0.25em 0.75em;
  border: 1px solid #585858;
  background: #dedede;
  font-weight: normal;
}
.product-ecommerce .tag-select label:hover {
  color: #ca2026;
  background: #efefef;
  border: 1px solid #ca2026;
}
.product-ecommerce .quantity-set {
  margin: 15px 0;
  display: table;
  background: #efefef;
  text-align: center;
  border: 1px solid #ccc;
}
.product-ecommerce .quantity-set a {
  display: table-cell;
  height: 35px;
  width: 35px;
  text-decoration: none;
  font-size: 16px;
  vertical-align: middle;
}
.product-ecommerce .quantity-set a:hover {
  background: #dedede;
}
.product-ecommerce .quantity-set a:active {
  background: #d2d2d2;
}
.product-ecommerce .quantity-set .quantity {
  display: table-cell;
  padding: 0 5px;
  vertical-align: middle;
  background: #fff;
  height: 35px;
  width: 38px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.product-ecommerce .quantity-set svg {
  width: 15px;
  height: 15px;
  fill: #999;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInByb2R1Y3QtZWNvbW1lcmNlLmxlc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDSSxnQkFBQTtFQUNBLHdCQUFBOztBQUZKLGtCQUlJO0VBQ0ksYUFBQTs7QUFMUixrQkFRSTtFQUNJLG1CQUFBO0VBQ0EsZ0JBQUE7O0FBVlIsa0JBYUk7RUFDSSxrQkFBQTs7RUFFQSxnQkFBQTtFQUNBLGdCQUFBOztBQWpCUixrQkFhSSxXQU1JO0VBQ0ksV0FBQTs7QUFwQlosa0JBd0JJO0VBQ0ksZ0JBQUE7RUFDQSxVQUFBO0VBQ0EscUJBQUE7RUFDQSxrQkFBQTs7QUE1QlIsa0JBd0JJLFlBTUk7RUFDSSxxQkFBQTtFQUNBLHNCQUFBO0VBQ0EsWUFBQTs7QUFFQSxrQkFYUixZQU1JLEtBS0s7RUFDRyxxQkFBQTs7QUFHSixrQkFmUixZQU1JLEtBU0s7RUFDRyxxQkFBQTs7QUF4Q2hCLGtCQXdCSSxZQU1JLEtBYUk7RUFDSSxXQUFBOztBQTVDaEIsa0JBaURJO0VBQ0ksZUFBQTtFQUNBLGNBQUE7O0FBbkRSLGtCQXNESTtFQTRCSSxvQkFBQTs7QUFsRlIsa0JBc0RJLFlBQ0ksTUFBSztFQUNELGFBQUE7O0FBRUEsa0JBSlIsWUFDSSxNQUFLLFlBR0EsUUFBUztFQUNOLFdBQUE7RUFDQSxtQkFBQTtFQUNBLHlCQUFBO0VBQ0EsZUFBQTs7QUE5RGhCLGtCQXNESSxZQVlJO0VBQ0kscUJBQUE7RUFDQSxlQUFBO0VBQ0EseUJBQUE7RUFDQSxzQkFBQTtFQUNBLHlCQUFBO0VBQ0EsbUJBQUE7RUFDQSxtQkFBQTs7QUFFQSxrQkFyQlIsWUFZSSxNQVNLO0VBQ0csY0FBQTtFQUNBLG1CQUFBO0VBQ0EseUJBQUE7O0FBOUVoQixrQkFxRkk7RUFDSSxjQUFBO0VBQ0EsY0FBQTtFQUNBLG1CQUFBO0VBQ0Esa0JBQUE7RUFDQSxzQkFBQTs7QUExRlIsa0JBcUZJLGNBT0k7RUFDSSxtQkFBQTtFQUNBLFlBQUE7RUFDQSxXQUFBO0VBQ0EscUJBQUE7RUFDQSxlQUFBO0VBQ0Esc0JBQUE7O0FBRUEsa0JBZlIsY0FPSSxFQVFLO0VBQ0csbUJBQUE7O0FBR0osa0JBbkJSLGNBT0ksRUFZSztFQUNHLG1CQUFBOztBQXpHaEIsa0JBcUZJLGNBd0JJO0VBQ0ksbUJBQUE7RUFDQSxjQUFBO0VBQ0Esc0JBQUE7RUFDQSxnQkFBQTtFQUNBLFlBQUE7RUFDQSxXQUFBO0VBQ0EsMkJBQUE7RUFDQSw0QkFBQTs7QUFySFosa0JBcUZJLGNBbUNJO0VBQ0ksV0FBQTtFQUNBLFlBQUE7RUFDQSxVQUFBIn0= */