/*!
 * http://www.zkea.net/
 * Copyright 2016 ZKEASOFT
 * http://www.zkea.net/licenses
 */
* {
    transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
}

    *:hover {
        transition: all 200ms linear;
        -webkit-transition: all 200ms linear;
        -moz-transition: all 200ms linear;
    }
