/*!
 * http://www.zkea.net/
 * Copyright 2016 ZKEASOFT
 * http://www.zkea.net/licenses
 */
.TopMenu { padding: 0px; margin: 0px 0px 0px 0px; position: relative; z-index: 2; }
    .TopMenu > li { list-style: none; display: block; float: left; margin: 0px 5px -1px 0px; padding: 5px; border: 1px solid #DDD; white-space:nowrap; }
        .TopMenu > li > .TabBtn { background: none; border: none; cursor: pointer; font-size: 14px; padding: 0px; display: inline; margin: 0px; color: #999; font-weight: normal; overflow: visible; }
    .TopMenu .Active { border-bottom: 1px solid white; padding-top: 5px; }
        .TopMenu .Active > .TabBtn { color: #303942; }
.TabContent { clear: both; border: 1px solid #DDD; z-index: 1; }
    .TabContent .Contents { display: none; padding: 3px; }
    .TabContent .Active { display: block; }
