/*!
 * http://www.zkea.net/
 * Copyright 2016 ZKEASOFT
 * http://www.zkea.net/licenses
 */

.OtherFixed {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

/*验证的错误提示窗*/
.errorTop {
    background-image: url("Images/errorLayer_Top.gif");
    height: 2px;
    display: block;
    width: 235px;
    background-repeat: no-repeat;
    _overflow: hidden;
}

.errorCen {
    background-image: url("Images/errorLayer_Cen.gif");
    width: 235px;
    text-align: left;
}

    .errorCen span {
        padding: 5px;
        display: block;
        font-size: 13px;
    }


.errorBottom {
    background-image: url("Images/errorLayer_Bottom.gif");
    height: 7px;
    display: block;
    width: 235px;
    _overflow: hidden;
}

.OpacityBackGround{
    background-color:#000;
}
.OpacityBackGround.busy{
    cursor:wait;
}
.easy-block{
    z-index:100000;
    position:absolute;
    left:50%;
    top:50%;
    margin:-32px auto auto -32px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background:#fff url("Images/loader.gif") center center no-repeat;
}
/*消息提示窗*/
.MessageBox {
    background-color: white;
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
    top: 45%;
    color: black;
}

    .MessageBox .MBContent {
        border: 1px solid #ddd;
        background-color: White;
    }

    .MessageBox .MBTitle {
        background: #EEE;
        color: orange;
        line-height: 25px;
        font-size: 13px;
        height: 33px;
        font-weight: bold;
        border-bottom: 1px solid #CCC;
        padding: 3px 5px;
    }

    .MessageBox .MBMSgText {
        padding: 20px 30px;
        min-height: 50px;
        white-space: normal;
        word-break: break-all;
        word-wrap: break-word;
    }

    .MessageBox .MBFoot {
        color: White;
        font-size: 13px;
        display: block;
        border-top: 1px solid #CCC;
        padding: 4px 2px;
    }

    .MessageBox .MBActions {
        float: right;
    }

        .MessageBox .MBActions > input {
            margin:0px 4px;
        }
/*放大镜查看*/
.Magnifier_BgPoint {
    background-image: url("Images/bgPoint.png");
    display: block;
    position: absolute;
    cursor: pointer;
    left: 0px;
    top: 0px;
    display: none;
}

.Magnifier_ImageBox {
    display: block;
    position: relative;
    overflow: hidden;
}

.Magnifier_MaxImageDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #CCC;
    border: 1px solid gray;
    display: none;
    z-index: 1000;
}

    .Magnifier_MaxImageDiv img {
        position: absolute;
        left: 0px;
        top: 0px;
    }
/*查看图片提示框*/
.RealImageBox {
    background-color: White;
    border: 1px solid #CCCCCC;
    width: 100px;
    height: 100px;
    z-index: 101;
    background-image: url('Images/lightbox-loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 5px 5px 22px 5px;
    overflow: hidden;
}

    .RealImageBox #RealImageBox-chi {
        width: 100%;
        height: 100%;
    }

        .RealImageBox #RealImageBox-chi #RealImageBox-Content {
            position: relative;
            width: 100%;
            height: 100%;
        }

            .RealImageBox #RealImageBox-chi #RealImageBox-Content img {
                width: 100%;
                height: 100%;
            }

        .RealImageBox #RealImageBox-chi #RealImageBox-Bottom {
            display: none;
            background-color: White;
            height: 22px;
            padding-left: 50px;
            padding-right: 70px;
        }

            .RealImageBox #RealImageBox-chi #RealImageBox-Bottom #RealImageBox-Close {
                display: block;
                width: 66px;
                height: 22px;
                background-image: url("Images/lightbox-btn-close.gif");
                cursor: pointer;
                float: right;
                margin-right: -70px;
                _margin-right: -35px;
            }

            .RealImageBox #RealImageBox-chi #RealImageBox-Bottom #RealImageBox-Pre {
                display: block;
                width: 22px;
                height: 22px;
                background-image: url("Images/buttons.png");
                background-position: -44px -2px;
                cursor: pointer;
                float: left;
                margin: 0px 2px 0px -48px;
                _margin: 0px 1px 0px -24px;
            }

                .RealImageBox #RealImageBox-chi #RealImageBox-Bottom #RealImageBox-Pre:hover {
                    background-position: -44px -28px;
                }

            .RealImageBox #RealImageBox-chi #RealImageBox-Bottom #RealImageBox-Next {
                display: block;
                width: 22px;
                height: 22px;
                background-image: url("Images/buttons.png");
                background-position: -70px -2px;
                cursor: pointer;
                float: left;
                margin: 0px 2px 0px -26px;
                _margin: 0px 1px 0px -13px;
            }

                .RealImageBox #RealImageBox-chi #RealImageBox-Bottom #RealImageBox-Next:hover {
                    background-position: -70px -28px;
                }

            .RealImageBox #RealImageBox-chi #RealImageBox-Bottom #RealImageBox-Text {
                display: block;
                width: 100%;
                height: 22px;
                margin: 3px 0px 0px 2px;
                float: left;
                font-size: 15px;
            }

                .RealImageBox #RealImageBox-chi #RealImageBox-Bottom #RealImageBox-Text #PicIndex {
                    color: Gray;
                    padding-right: 5px;
                }

                .RealImageBox #RealImageBox-chi #RealImageBox-Bottom #RealImageBox-Text #PicInfo {
                }

/*窗口*/
.WeiWindow {
    position: fixed;
    display: block;
    left: 300px;
    top: 300px;
    width: 400px;
    height: 300px;
    padding: 30px 0px 3px 0px;
    overflow: visible;
    border: 1px solid #aaa;
    background: white;
}

    .WeiWindow .CloseWindow {
        position: absolute;
        right: 5px;
        top: 5px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        background: url("Images/Icons/remove.png") center center no-repeat;
    }

    .WeiWindow .TitleBar {
        margin: -30px 0px 0px 0px;
        height: 31px;
        padding: 0px 1px 0px 1px;
        clear: both;
    }

    .WeiWindow .Content {
        height: 100%;
        padding: 0px 1px 0px 1px;
        clear: both;
    }

    .WeiWindow .Botoom {
        margin: 0px 0px -1px 0px;
        height: 1px;
        padding: 0px 1px 0px 1px;
        clear: both;
    }

    .WeiWindow .Left {
        display: block;
        margin: 0px 0px 0px -1px;
        width: 1px;
        height: 100%;
        float: left;
    }

    .WeiWindow .Mid {
        width: 100%;
        height: 100%;
        display: block;
        float: left;
    }

    .WeiWindow .Right {
        margin: 0px -1px 0px 0px;
        width: 1px;
        height: 100%;
        float: left;
    }

    .WeiWindow .TitleBarLeft {
        background-color: #f3f3f3;
        border-bottom: 1px solid #ddd;
    }

    .WeiWindow .TitleBarMid {
        color: black;
        line-height: 30px;
        font-weight: bold;
        font-size: 14px;
        background-color: #f3f3f3;
        border-bottom: 1px solid #ddd;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: keep-all;
        word-wrap: normal;
        overflow: hidden;
        text-indent: 10px;
    }

    .WeiWindow .TitleBarRight {
        background-color: #f3f3f3;
        border-bottom: 1px solid #ddd;
    }

    .WeiWindow .ContentLeft {
    }

    .WeiWindow .ContentMid {
        background-color: White;
    }

    .WeiWindow .ContentRight {
    }

    .WeiWindow .BottomLeft {
    }

    .WeiWindow .BottomMid {
    }

    .WeiWindow .BottomRight {
    }
/*焦点图*/
.Focus-ul-li div {
}

.Focus-ul-li-cur div {
    background-color: White;
}

.Focus-ul-li a {
    color: Gray;
    text-decoration: none;
}

.Focus-ul-li-cur a {
    color: White;
    font-weight: bold;
    text-decoration: none;
}

.FocusInfoUl {
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 1000;
    width: 100%;
    height: 35px;
}

    .FocusInfoUl li {
        display: block;
        float: left;
        line-height: 35px;
        text-align: center;
        height: 100%;
        position: relative;
    }

        .FocusInfoUl li div {
            position: absolute;
            left: 0px;
            top: 0px;
            height: 100%;
            width: 100%;
        }

        .FocusInfoUl li a {
            position: absolute;
            left: 0px;
            top: 0px;
            display: block;
            width: 100%;
            height: 100%;
            border-left: 1px solid white;
        }

            .FocusInfoUl li a:hover {
                color: White;
            }

.MessageTip {
    border: 2px solid #5f5f5f;
    position: fixed;
    right: -2px;
    bottom: 10px;
    padding: 10px;
    background-color: white;
    color: black;
}

.HtmlInput {
    border: 1px solid #CCC;
    padding: 2px 1px 2px 1px;
    max-height: 200px;
    overflow: auto;
    cursor: text;
}

    .HtmlInput:focus {
        border: 1px solid #c4c4c4;
        outline: 1px solid #eee;
    }

    .HtmlInput .PlaceHolder {
        color: #a1a1a1;
    }

    .HtmlInput p {
        margin: 0px;
        padding: 0px;
    }

.Loading {
    position: fixed;
    margin-top: -15px;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    padding: 2px;
    background-image: url(Images/Loader.gif);
    z-index: 10000;
    left: 50%;
    top: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 50%;
}

.BoxShadow {
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
}
