name: Auto Build

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test EasyFrameWork
      working-directory: ./test/EasyFrameWork.Test
      run: dotnet test
    - name: Install tools
      run: |
        dotnet tool install --global ZKEACMS.Publisher
        dotnet tool install --global sqlite-exec
    - name: Publish
      working-directory: ./src/ZKEACMS.WebHost
      run: publish-zkeacms
    - name: Create database
      run: |
        mkdir ./src/ZKEACMS.WebHost/bin/Release/PublishOutput/App_Data
        sqlite-exec -d ./src/ZKEACMS.WebHost/bin/Release/PublishOutput/App_Data/Database.sqlite -f ./DataBase/SQLite/ZKEACMS.sqlite.sql
        cp -f ./DataBase/SQLite/appsettings.json ./src/ZKEACMS.WebHost/bin/Release/PublishOutput/appsettings.json
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: ZKEACMS
        path: ./src/ZKEACMS.WebHost/bin/Release/PublishOutput